* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: black;
    font-size: 100px;
}

#question {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: yellow;
    width: 100vw;
    height: 100vh;
}

#answer {
    display: none;
}

/* hidden message */
@media (max-width: 1024px) {
    body {
        background: yellow;
    }

    #answer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: black;
        width: 100vw;
        height: 100vh;
    }

    #question {
        display: none;
    }
}