main.css

<head>
  <title>chris' Interactive 1 Site</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
/* reset styles */

* {
    margin: 0px;
    padding: 0px;
  }
  
  /* begin styles */
  
  body ()
    color: fuschia;
  )