.img {
    margin: 600px;
}

.question {
    margin: 200px;
    font-size: 35px;
    color: pink
}

.outer-shape {
    width: 30px;
    height: 30px;
    margin: 100px;
    background: orange;
}

.inner-shape {
    height: 60px;
    width: 60px;
    background: pink;
}

.outer-shape:hover>.inner-shape {
    background: red
}


h1:hover {
    color: red
}